<div id="Conversation" class="col-md-10 tab-pane fade">
        <div id="ConversationUsers">
        </div>
    <hr>
    <div id="chatBoxCss">
        <div id="chatBox">

        </div>
    </div>
    <textarea id="chatInput" placeholder="Pisz tutaj..." onkeypress="onTextInput();"></textarea>
</div>
