@using ChatServer.Model
@{
    var user = Context.Items["User"] as Users;
    <div id="Friends" class="col-md-10 tab-pane fade">
        <table class="table table-striped userTable">
            <tbody>
            @foreach (var item in user.Friends)
            {
                <tr>
                    <td onclick="talkUser(@(item.Id))">
                        <image src="data:image/png;base64,@Convert.ToBase64String(item.Avatar ?? Startup.DefaultAvatar)"/>
                        @item.Nickname
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}