<div class="row">
    <div class="col-md-12 registerTitle" hidden>
        Rejestracja:
        <br/>
        <form method="post" id="registerForm">
            <div class="col-md-4 col-md-offset-4 form-group">
                <input type="text"
                        class="form-control"
                        name="login"
                        placeholder="Login"
                        pattern="\S{4,}"
                        required
                        title="Login musi mieć co najmniej 4 znaki"
                        oninvalid="this.setCustomValidity('Login musi mieć co najmniej 4 znaki')"
                        oninput="setCustomValidity('')" />
            </div>
            <div class="col-md-4 col-md-offset-4 form-group">
                <input type="password"
                        class="form-control"
                        name="password"
                        placeholder="Hasło"
                        pattern="\S{8,}"
                        required
                        title="Hasło musi mieć co najmniej 8 znaków"
                        oninvalid="this.setCustomValidity('Hasło musi mieć co najmniej 8 znaków')"
                        oninput="setCustomValidity('')" />
            </div>
            <div class="col-md-4 col-md-offset-4 form-group">
                <input type="text"
                        class="form-control"
                        name="nickname"
                        placeholder="Pseudonim"
                        pattern="\S{4,}"
                        required
                        title="Pseudonim musi mieć co najmniej 4 znaki"
                        oninvalid="this.setCustomValidity('Pseudonim musi mieć co najmniej 4 znaki')"
                        oninput="setCustomValidity('')" />
            </div>
            <div class="col-md-4 col-md-offset-4 form-group">
                <input type="email"
                        class="form-control"
                        name="email"
                        placeholder="E-mail"
                        required
                        title="Podaj poprawną składnię adresu E-mail"
                        oninvalid="this.setCustomValidity('Podaj poprawną składnię adresu E-mail')"
                        oninput="setCustomValidity('')" />
            </div>
            <div class="col-md-4 col-md-offset-4 form-group">
                <input type="tel"
                        class="form-control"
                        name="phone"
                        placeholder="Numer telefonu"
                        title="Podaj poprawny numer telefonu"
                        oninvalid="this.setCustomValidity('Podaj poprawny numer telefonu')"
                        oninput="setCustomValidity('')" />
            </div>
            <div class="col-md-4 col-md-offset-4 form-group" id="formButton">
                <button id="reg" type="submit" class="btn btn-primary">Utwórz konto!</button>
            </div>
        </form>
        <script>
            $(document).ready(function() {
                $("#registerForm").submit(onRegister);
            });

            function onRegister(event) {
                event.preventDefault();
                var $form = $(this);
                $.post(
                    "@Url.Action("TryRegister", "Home")",
                    {
                        login: $form.find("input[name='login']").val(),
                        password: $form.find("input[name='password']").val(),
                        name: $form.find("input[name='nickname']").val(),
                        email: $form.find("input[name='email']").val(),
                        phone: $form.find("input[name='phone']").val()
                    },
                    function(data) {
                        if (data.isLogged) {
                            window.location.href = "@Url.Action("Index", "Home")";
                        } else {
                            $("#formError").innerHTML = "Logowanie nieudane!";
                        }
                    }
                ).fail(function() {
                    $("#formError").innerHTML = "Rejestracja nieudana!";
                });
            }

        </script>
    </div>
</div>